<header class="app-header__container">
    <div class="app-header__content">
        <h1>Movie Share</h1>
    </div>
    <nav *ngIf="isLoggedIn ; else logout" class="app-header__nav">
        <!-- <a routerLink="/">Logout</a> -->
        <button (click) = "logt()">Logout</button>
    </nav>
    <ng-template #logout>
        <nav class="app-header__nav">
            <a alt= "Login" routerLink="/login">Login</a>
            <a alt="Register"  routerLink="/register">Register
            </a>
        </nav>
       </ng-template>
</header>