$cls: ".app-header";

:host {
  background-color: var(--primary-color);
  color: var(--text-color);
}

:host(#{$cls}) {
  display: block;
}

#{$cls} {
  &__container {
    align-items: center;
    display: flex;
    width: 100%;
    background-color: #06224d;
    h1 {
      color: var(--text-color);
      padding: 0 4rem;
    }
    img {
      height: 9rem;
      width: 17rem;
    }
  }
  &__content {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    max-height: 19rem;
    @media screen and (min-width: 320px) and (max-width: 480px) {
      width: 84px;
      h1 {
        padding: 0;
      }
      &_app-logo {
        height: 9rem;
        width: 17rem;
      }
    }
  }

  &__nav {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: flex-end;
    min-height: 7rem;
    background-color: #33c2cc;
    a {
      font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700;
      border: 0;
      border-radius: 3em;
      cursor: pointer;
      display: inline-block;
      line-height: 1;
      font-size: 16px;
      padding: 12px 24px;
      background-color: #267483;
      text-decoration: none;
      color: var(--text-color);
      margin-left: 1rem;
    }
    button {
      font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700;
      border: 0;
      border-radius: 3em;
      cursor: pointer;
      display: inline-block;
      line-height: 1;
      font-size: 16px;
      padding: 12px 24px;
      background-color: #267483;
      text-decoration: none;
      color: var(--text-color);
      margin-left: 1rem;
    }
  }
}
