.item3 {
    grid-area: main;
    display: grid;
    grid-template-columns: auto auto;
    @media screen and (min-width: 320px) and (max-width: 480px) {
        font-size: 14px;
        grid-template-columns: auto;
    }
}
